@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-eczar font-normal bg-zinc-100;
    font-size: 18px;
    line-height: 24px;
  }
}

.page-body {
  @apply mx-24 mb-6;
}

/* .something {
  @apply bg-red-500;
  & .something-else {
    @apply bg-blue-400;
  }
} */
