@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-eczar font-normal bg-zinc-100;
    font-size: 18px;
    line-height: 24px;
  }
}

.link {
  @apply text-cyan-600 hover:text-cyan-500 transition duration-200;
}
