.menu {
  @apply flex flex-row bg-cyan-700 text-zinc-200;
  & li {
    @apply ml-5 my-3 text-lg;
  }
}

.menu-link {
  @apply cursor-pointer hover:text-zinc-400;
}

.top-bar-left {
  @apply mb-5 shadow-lg;
}
