.menu {
  @apply flex flex-row bg-cyan-700 text-zinc-200 py-2;
  
  & li {
    @apply font-special ml-8 my-3 text-xl;
  }
  
  & .menu__nav-link {
    @apply cursor-pointer hover:text-zinc-400 transition duration-200;
  }
}

.top-bar-left {
  @apply mb-5 shadow-lg;
}
